openapi: 3.2.0
info:
  title: Binance Pay Refunds API
  description: The Binance Pay API enables merchants and businesses to accept cryptocurrency payments from Binance users. Developers can create payment orders, query payment status, process refunds, and manage merchant accounts. The API supports QR code payments, in-app payments, and online checkout flows for e-commerce integration.
  version: '2'
  contact:
    name: Binance Pay Support
    url: https://merchant.binance.com/en/docs/getting-started
  termsOfService: https://www.binance.com/en/terms
servers:
- url: https://bpay.binanceapi.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Refunds
  description: Refund processing endpoints.
paths:
  /binancepay/openapi/order/refund:
    post:
      operationId: refundOrder
      summary: Refund order
      description: Refund a paid order fully or partially.
      tags:
      - Refunds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refundRequestId
              - prepayId
              - refundAmount
              properties:
                refundRequestId:
                  type: string
                  description: Unique refund request ID.
                prepayId:
                  type: string
                  description: Original prepay ID.
                refundAmount:
                  type: string
                  description: Refund amount.
                refundReason:
                  type: string
                  description: Refund reason.
                webhookUrl:
                  type: string
                  description: Webhook URL for refund notifications.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  code:
                    type: string
                  data:
                    type: object
                    properties:
                      refundRequestId:
                        type: string
                      prepayId:
                        type: string
                      orderAmount:
                        type: string
                      refundedAmount:
                        type: string
                      refundAmount:
                        type: string
                      remainingAttempts:
                        type: integer
                      payerOpenId:
                        type: string
                      duplicateRequest:
                        type: boolean
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: BinancePay-Certificate-SN
      description: Binance Pay API key/certificate serial number.
externalDocs:
  description: Binance Pay Documentation
  url: https://developers.binance.com/docs/binance-pay/introduction
