openapi: 3.1.0
info:
  title: Binance Algo Trading Account Sub-Account Assets API
  description: The Binance Algo Trading API provides access to algorithmic order execution strategies such as TWAP (Time-Weighted Average Price) and volume participation algorithms. Developers can place large orders that are automatically broken into smaller child orders and executed over time to minimize market impact.
  version: '1'
  contact:
    name: Binance Support
    url: https://www.binance.com/en/support
  termsOfService: https://www.binance.com/en/terms
servers:
- url: https://api.binance.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Sub-Account Assets
  description: Endpoints for querying and transferring sub-account assets.
paths:
  /sapi/v3/sub-account/assets:
    get:
      operationId: getSubAccountAssets
      summary: Query sub-account assets
      description: Fetch sub-account assets.
      tags:
      - Sub-Account Assets
      parameters:
      - name: email
        in: query
        required: true
        schema:
          type: string
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items:
                      type: object
                      properties:
                        asset:
                          type: string
                        free:
                          type: string
                        locked:
                          type: string
      security:
      - apiKey: []
        hmacSignature: []
  /sapi/v1/sub-account/universalTransfer:
    post:
      operationId: universalTransfer
      summary: Universal transfer
      description: Transfer assets between sub-accounts or between master and sub-accounts.
      tags:
      - Sub-Account Assets
      parameters:
      - name: fromEmail
        in: query
        schema:
          type: string
      - name: toEmail
        in: query
        schema:
          type: string
      - name: fromAccountType
        in: query
        required: true
        schema:
          type: string
          enum:
          - SPOT
          - USDT_FUTURE
          - COIN_FUTURE
          - MARGIN
          - ISOLATED_MARGIN
      - name: toAccountType
        in: query
        required: true
        schema:
          type: string
          enum:
          - SPOT
          - USDT_FUTURE
          - COIN_FUTURE
          - MARGIN
          - ISOLATED_MARGIN
      - name: clientTranId
        in: query
        schema:
          type: string
      - name: asset
        in: query
        required: true
        schema:
          type: string
      - name: amount
        in: query
        required: true
        schema:
          type: string
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  tranId:
                    type: integer
                    format: int64
                  clientTranId:
                    type: string
      security:
      - apiKey: []
        hmacSignature: []
    get:
      operationId: getUniversalTransferHistory
      summary: Query universal transfer history
      description: Query sub-account universal transfer history.
      tags:
      - Sub-Account Assets
      parameters:
      - name: fromEmail
        in: query
        schema:
          type: string
      - name: toEmail
        in: query
        schema:
          type: string
      - name: clientTranId
        in: query
        schema:
          type: string
      - name: startTime
        in: query
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        schema:
          type: integer
          default: 500
          maximum: 500
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                  totalCount:
                    type: integer
      security:
      - apiKey: []
        hmacSignature: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-MBX-APIKEY
    hmacSignature:
      type: apiKey
      in: query
      name: signature
externalDocs:
  description: Binance Algo Trading Documentation
  url: https://developers.binance.com/docs/algo/general-info
