openapi: 3.1.0
info:
  title: Binance Algo Trading Account Locked Products API
  description: The Binance Algo Trading API provides access to algorithmic order execution strategies such as TWAP (Time-Weighted Average Price) and volume participation algorithms. Developers can place large orders that are automatically broken into smaller child orders and executed over time to minimize market impact.
  version: '1'
  contact:
    name: Binance Support
    url: https://www.binance.com/en/support
  termsOfService: https://www.binance.com/en/terms
servers:
- url: https://api.binance.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Locked Products
  description: Locked savings products with fixed-term commitments.
paths:
  /sapi/v1/simple-earn/locked/list:
    get:
      operationId: listLockedProducts
      summary: Get simple earn locked product list
      description: Get available locked earn products.
      tags:
      - Locked Products
      parameters:
      - name: asset
        in: query
        schema:
          type: string
      - name: current
        in: query
        schema:
          type: integer
          default: 1
      - name: size
        in: query
        schema:
          type: integer
          default: 10
          maximum: 100
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                  total:
                    type: integer
      security:
      - apiKey: []
        hmacSignature: []
  /sapi/v1/simple-earn/locked/subscribe:
    post:
      operationId: subscribeLockedProduct
      summary: Subscribe locked product
      description: Subscribe to a locked earn product.
      tags:
      - Locked Products
      parameters:
      - name: projectId
        in: query
        required: true
        schema:
          type: string
      - name: amount
        in: query
        required: true
        schema:
          type: string
      - name: autoSubscribe
        in: query
        schema:
          type: boolean
      - name: sourceAccount
        in: query
        schema:
          type: string
          enum:
          - SPOT
          - FUND
          - ALL
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  purchaseId:
                    type: integer
                    format: int64
                  positionId:
                    type: string
                  success:
                    type: boolean
      security:
      - apiKey: []
        hmacSignature: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-MBX-APIKEY
    hmacSignature:
      type: apiKey
      in: query
      name: signature
externalDocs:
  description: Binance Algo Trading Documentation
  url: https://developers.binance.com/docs/algo/general-info
