openapi: 3.1.0
info:
  title: Binance Algo Trading Account Flexible Products API
  description: The Binance Algo Trading API provides access to algorithmic order execution strategies such as TWAP (Time-Weighted Average Price) and volume participation algorithms. Developers can place large orders that are automatically broken into smaller child orders and executed over time to minimize market impact.
  version: '1'
  contact:
    name: Binance Support
    url: https://www.binance.com/en/support
  termsOfService: https://www.binance.com/en/terms
servers:
- url: https://api.binance.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Flexible Products
  description: Flexible savings products that allow instant redemption.
paths:
  /sapi/v1/simple-earn/flexible/list:
    get:
      operationId: listFlexibleProducts
      summary: Get simple earn flexible product list
      description: Get available flexible earn products.
      tags:
      - Flexible Products
      parameters:
      - name: asset
        in: query
        schema:
          type: string
      - name: current
        in: query
        schema:
          type: integer
          default: 1
      - name: size
        in: query
        schema:
          type: integer
          default: 10
          maximum: 100
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        asset:
                          type: string
                        latestAnnualPercentageRate:
                          type: string
                        tierAnnualPercentageRate:
                          type: object
                        airDropPercentageRate:
                          type: string
                        canPurchase:
                          type: boolean
                        canRedeem:
                          type: boolean
                        isSoldOut:
                          type: boolean
                        hot:
                          type: boolean
                        minPurchaseAmount:
                          type: string
                        productId:
                          type: string
                        subscriptionStartTime:
                          type: string
                        status:
                          type: string
                  total:
                    type: integer
      security:
      - apiKey: []
        hmacSignature: []
  /sapi/v1/simple-earn/flexible/subscribe:
    post:
      operationId: subscribeFlexibleProduct
      summary: Subscribe flexible product
      description: Subscribe to a flexible earn product.
      tags:
      - Flexible Products
      parameters:
      - name: productId
        in: query
        required: true
        schema:
          type: string
      - name: amount
        in: query
        required: true
        schema:
          type: string
      - name: autoSubscribe
        in: query
        schema:
          type: boolean
      - name: sourceAccount
        in: query
        schema:
          type: string
          enum:
          - SPOT
          - FUND
          - ALL
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  purchaseId:
                    type: integer
                    format: int64
                  success:
                    type: boolean
      security:
      - apiKey: []
        hmacSignature: []
  /sapi/v1/simple-earn/flexible/redeem:
    post:
      operationId: redeemFlexibleProduct
      summary: Redeem flexible product
      description: Redeem from a flexible earn product.
      tags:
      - Flexible Products
      parameters:
      - name: productId
        in: query
        required: true
        schema:
          type: string
      - name: redeemAll
        in: query
        schema:
          type: boolean
      - name: amount
        in: query
        schema:
          type: string
      - name: destAccount
        in: query
        schema:
          type: string
          enum:
          - SPOT
          - FUND
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  redeemId:
                    type: integer
                    format: int64
                  success:
                    type: boolean
      security:
      - apiKey: []
        hmacSignature: []
  /sapi/v1/simple-earn/flexible/position:
    get:
      operationId: getFlexiblePosition
      summary: Get flexible product position
      description: Get flexible earn product positions.
      tags:
      - Flexible Products
      parameters:
      - name: asset
        in: query
        schema:
          type: string
      - name: productId
        in: query
        schema:
          type: string
      - name: current
        in: query
        schema:
          type: integer
      - name: size
        in: query
        schema:
          type: integer
          maximum: 100
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                  total:
                    type: integer
      security:
      - apiKey: []
        hmacSignature: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-MBX-APIKEY
    hmacSignature:
      type: apiKey
      in: query
      name: signature
externalDocs:
  description: Binance Algo Trading Documentation
  url: https://developers.binance.com/docs/algo/general-info
