openapi: 3.2.0
info:
  title: Binance Pay Payouts API
  description: The Binance Pay API enables merchants and businesses to accept cryptocurrency payments from Binance users. Developers can create payment orders, query payment status, process refunds, and manage merchant accounts. The API supports QR code payments, in-app payments, and online checkout flows for e-commerce integration.
  version: '2'
  contact:
    name: Binance Pay Support
    url: https://merchant.binance.com/en/docs/getting-started
  termsOfService: https://www.binance.com/en/terms
servers:
- url: https://bpay.binanceapi.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Payouts
  description: Batch payout and transfer endpoints.
paths:
  /binancepay/openapi/payout/transfer:
    post:
      operationId: batchPayout
      summary: Batch payout
      description: Make batch payout transfers to multiple recipients. Supports payout to Binance ID or email. Maximum 500 recipients per batch.
      tags:
      - Payouts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - requestId
              - batchName
              - currency
              - totalAmount
              - totalNumber
              - transferDetailList
              properties:
                requestId:
                  type: string
                  description: Unique request ID.
                batchName:
                  type: string
                  description: Batch name.
                currency:
                  type: string
                  description: Payout currency.
                totalAmount:
                  type: string
                  description: Total payout amount.
                totalNumber:
                  type: integer
                  description: Total number of recipients.
                  maximum: 500
                transferDetailList:
                  type: array
                  items:
                    type: object
                    properties:
                      merchantSendId:
                        type: string
                      transferAmount:
                        type: string
                      receiveType:
                        type: string
                        enum:
                        - BINANCE_ID
                        - EMAIL
                      receiver:
                        type: string
                      remark:
                        type: string
                  description: List of transfer details.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  code:
                    type: string
                  data:
                    type: object
                    properties:
                      requestId:
                        type: string
                      status:
                        type: string
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: BinancePay-Certificate-SN
      description: Binance Pay API key/certificate serial number.
externalDocs:
  description: Binance Pay Documentation
  url: https://developers.binance.com/docs/binance-pay/introduction
