openapi: 3.1.0
info:
  title: Binance Algo Trading Account Deposits API
  description: The Binance Algo Trading API provides access to algorithmic order execution strategies such as TWAP (Time-Weighted Average Price) and volume participation algorithms. Developers can place large orders that are automatically broken into smaller child orders and executed over time to minimize market impact.
  version: '1'
  contact:
    name: Binance Support
    url: https://www.binance.com/en/support
  termsOfService: https://www.binance.com/en/terms
servers:
- url: https://api.binance.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Deposits
  description: Deposit-related endpoints for addresses and history.
paths:
  /sapi/v1/capital/deposit/hisrec:
    get:
      operationId: getDepositHistory
      summary: Deposit history
      description: Fetch deposit history.
      tags:
      - Deposits
      parameters:
      - name: coin
        in: query
        description: Coin to query.
        schema:
          type: string
      - name: status
        in: query
        description: Deposit status. 0=pending, 6=credited, 1=success.
        schema:
          type: integer
          enum:
          - 0
          - 1
          - 6
      - name: startTime
        in: query
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        description: Number of results. Default 1000, max 1000.
        schema:
          type: integer
          default: 1000
          maximum: 1000
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      - name: txId
        in: query
        description: Transaction ID.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    amount:
                      type: string
                    coin:
                      type: string
                    network:
                      type: string
                    status:
                      type: integer
                    address:
                      type: string
                    addressTag:
                      type: string
                    txId:
                      type: string
                    insertTime:
                      type: integer
                      format: int64
                    transferType:
                      type: integer
                    confirmTimes:
                      type: string
                    unlockConfirm:
                      type: integer
                    walletType:
                      type: integer
      security:
      - apiKey: []
        hmacSignature: []
  /sapi/v1/capital/deposit/address:
    get:
      operationId: getDepositAddress
      summary: Deposit address
      description: Fetch deposit address for a coin and network.
      tags:
      - Deposits
      parameters:
      - name: coin
        in: query
        required: true
        schema:
          type: string
      - name: network
        in: query
        schema:
          type: string
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                    description: Deposit address.
                  coin:
                    type: string
                    description: Coin symbol.
                  tag:
                    type: string
                    description: Address tag/memo.
                  url:
                    type: string
                    description: Explorer URL.
      security:
      - apiKey: []
        hmacSignature: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-MBX-APIKEY
    hmacSignature:
      type: apiKey
      in: query
      name: signature
externalDocs:
  description: Binance Algo Trading Documentation
  url: https://developers.binance.com/docs/algo/general-info
