openapi: 3.1.0
info:
  title: Binance Algo Trading Account Copy Trading API
  description: The Binance Algo Trading API provides access to algorithmic order execution strategies such as TWAP (Time-Weighted Average Price) and volume participation algorithms. Developers can place large orders that are automatically broken into smaller child orders and executed over time to minimize market impact.
  version: '1'
  contact:
    name: Binance Support
    url: https://www.binance.com/en/support
  termsOfService: https://www.binance.com/en/terms
servers:
- url: https://api.binance.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Copy Trading
  description: Copy trading position and portfolio management endpoints.
paths:
  /sapi/v1/copy-trading/futures/userStatus:
    get:
      operationId: getUserStatus
      summary: Get copy trading user status
      description: Get the copy trading status of the current user.
      tags:
      - Copy Trading
      parameters:
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      security:
      - apiKey: []
        hmacSignature: []
  /sapi/v1/copy-trading/futures/leadSymbol:
    get:
      operationId: getLeadSymbols
      summary: Get lead trading symbol whitelist
      description: Get the list of symbols available for lead trading.
      tags:
      - Copy Trading
      parameters:
      - name: recvWindow
        in: query
        schema:
          type: integer
      - name: timestamp
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      security:
      - apiKey: []
        hmacSignature: []
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-MBX-APIKEY
    hmacSignature:
      type: apiKey
      in: query
      name: signature
externalDocs:
  description: Binance Algo Trading Documentation
  url: https://developers.binance.com/docs/algo/general-info
