openapi: 3.1.0
info:
  title: Binance Algo Trading Account Payouts API
  description: The Binance Algo Trading API provides access to algorithmic order execution strategies such as TWAP (Time-Weighted Average Price) and volume participation algorithms. Developers can place large orders that are automatically broken into smaller child orders and executed over time to minimize market impact.
  version: '1'
  contact:
    name: Binance Support
    url: https://www.binance.com/en/support
  termsOfService: https://www.binance.com/en/terms
servers:
- url: https://api.binance.com
  description: Production Server
security:
- apiKey: []
tags:
- name: Payouts
  description: Batch payout and transfer endpoints.
paths:
  /binancepay/openapi/payout/transfer:
    post:
      operationId: batchPayout
      summary: Batch payout
      description: Make batch payout transfers to multiple recipients. Supports payout to Binance ID or email. Maximum 500 recipients per batch.
      tags:
      - Payouts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - requestId
              - batchName
              - currency
              - totalAmount
              - totalNumber
              - transferDetailList
              properties:
                requestId:
                  type: string
                  description: Unique request ID.
                batchName:
                  type: string
                  description: Batch name.
                currency:
                  type: string
                  description: Payout currency.
                totalAmount:
                  type: string
                  description: Total payout amount.
                totalNumber:
                  type: integer
                  description: Total number of recipients.
                  maximum: 500
                transferDetailList:
                  type: array
                  items:
                    type: object
                    properties:
                      merchantSendId:
                        type: string
                      transferAmount:
                        type: string
                      receiveType:
                        type: string
                        enum:
                        - BINANCE_ID
                        - EMAIL
                      receiver:
                        type: string
                      remark:
                        type: string
                  description: List of transfer details.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  code:
                    type: string
                  data:
                    type: object
                    properties:
                      requestId:
                        type: string
                      status:
                        type: string
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-MBX-APIKEY
    hmacSignature:
      type: apiKey
      in: query
      name: signature
externalDocs:
  description: Binance Algo Trading Documentation
  url: https://developers.binance.com/docs/algo/general-info
